{% extends 'user/main.html' %}
{% load static %}
{% comment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Post-form</title>
  <link rel='stylesheet' href={% static 'user/css/style3.css' %}> 
</head>
<body>
  {% block content %}
   <div>
        <label id="caption">Message</label>
        <form method='POST' enctype='multipart/form-data'>
          {% csrf_token %}
            <textarea name="message" placeholder="What's on your mind..." cols="80" rows="25"></textarea><br>
        <button><input type='file' name='media' value='add media'></button>
        <button type="submit">Post</button>
        </form>
        
    </div>
</body>
  {% endblock %}