{% extends 'user/main.html' %}
{% load static %}
{% block content %}
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	{% if request.user.profile == profile%}
	<h2>Your Posts</h2>
	
	{%else%}
	<h2>{{profile.user.username}}'s Posts</h2>
	{% endif %}
	{% for post in post %}
		<div class="box post">
			<figure class="image is-96x96">
			  <img class='is-rounded' src={% static post.profile.profile_pic %}>
			</figure>
			{% if post.message %}
			<p class='subtitle is-4'>{{post.message}}</p
			{% endif %}
			<div>
				{% if post.media %}
					<figure >
						<img class='media' src= {% static post.media %}/>
					</figure>
				{% endif %}
				<span class="is-small has-text-grey-light">
					posted by {{post.profile}} on {{post.date}}
				</span>
			</div>
      {%for comment in comment%}
			{% if comment.post == post %}	
				<p class='subtitle  is-6'>{{comment.message}}</p>
				<span class="is-small comment has-text-grey-light">
					posted by {{comment.profile}} on {{comment.date}}
				</span>
				{% endif %}
				
		{% endfor %}
		</div>
	{% endfor %}
  </body>
{% endblock %}